<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Schedule For Stores</h2>

    <form id="form">
        <input type="text" id="store_idx" placeholder="store_idx"><br>
        <input type="text" id="open_time" placeholder="open_time(10:00:00)"><br>
        <input type="text" id="close_time" placeholder="close_time(21:00:00)"><br>
        <input type="text" id="pause_description" placeholder="pause_description"><br>
        <input type="text" id="first_week_close" placeholder="first_week_close"><br>
        <input type="text" id="second_week_close" placeholder="second_week_close"><br>
        <input type="text" id="third_week_close" placeholder="third_week_close"><br>
        <input type="text" id="fourth_week_close" placeholder="fourth_week_close"><br>
        <button type="button" id="submit">생성</button>
        <button type="reset" id="reset">초기화</button>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
    <script src="../../js/custom.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var token = [[${session.token}]];
        /*]]>*/
    </script>
    <script>
        $('#submit').click(function () {
            if(token) {
                exec();
            } else {
                alert('token is null');
            }
        });
        function exec() {
            const data = {
                "store_idx" : $('#store_idx').val(),
                "open_time" : $('#open_time').val(),
                "close_time" : $('#close_time').val(),
                "pause_description" : $('#pause_description').val(),
                "first_week_close" : $('#first_week_close').val(),
                "second_week_close" : $('#second_week_close').val(),
                "third_week_close" : $('#third_week_close').val(),
                "fourth_week_close" : $('#fourth_week_close').val()
            };
            postJpa('scheduleForStores', token, data, function(e) {
                alert('생성완료');
                $('#reset').click();
            });
        }
    </script>
</body>
</html>