<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            text-align:left!important;
            background-color: #eeeeee;
            color: #666666;
        }
        .contents{
            margin:auto;
        }
        .title{
            font-size:11px;
            font-weight:bold;
        }
        .outer{
            font-size:9px;
            font-weight: bold;
        }
        .inner{
            font-size:9px;
            font-weight: lighter;
        }
    </style>
    <meta charset="UTF-8">
    <title>상품 주의사항 및 환불에 관한 규정 동의</title>
</head>
<body>

    <div class="title">환불에 관한 규정 동의</div><br>

    <div class="outer">제1조</div>
    <div class="inner">
        포만감은 다음 각호의 귀책사유로 고객님이 요청한 상품을 전달하지 못할 경우, 정도에 따라 100% 또는 일부 환불로 차등 환불합니다. <br>
        1. 배달 시간이 예상 시간을 장시간 초과했을 경우 <br>
        2. 일정 기준을 넘는 불쾌한 경험을 한 경우 <br>
        3. 상품의 불량, 오배송, 상품 표시 정보의 오류 <br>
    </div><br>

    <div class="outer">제2조</div>
    <div class="inner">
        주문마감시간(조리시작)전에 한하여 취소/환불이 가능합니다. 단, 조리가 시작된 주문이거나 단체주문의 경우 환불이 제한적으로 불가합니다. <br>
        1. 조리가 시작된 주문의 경우 환불 불가 <br>
        2. 단체 주문의 경우, 전 일 주문 개수에 맞춘 식재료를 구입함과 동시에 전처리 작업이 시작되므로 조리 하루 이전 까지 요청된 환불에 한하여 환불 가능합니다. <br>
    </div><br>

    <div class="outer">제3조</div>
    <div class="inner">
        결제 수단 별 환불 <br>
        - 신용카드 : 환불처리가 완료된 날로부터 1~3 영업일 내 카드승인 취소 <br>
        - 체크카드 : 환불처리가 완료된 날로부터 1~3 영업일 내 출금된 카드계좌로 입금 <br>
        - 가상계좌 : 환불처리가 완료된 날로부터 1~3 영업일 내 환불계좌로 입금 <br>
        - 기타 : 환불처리가 완료된 날로부터 1~3 영업일 내 환불 <br>
    </div><br><br>


    <div class="outer">포만감 배달상품 주의사항 동의</div><br><br>

    <div class="outer">제1조</div>
    <div class="inner">
        본 약관은 <포만감>(‘www.poman.kr’이하 ‘포만감’)이 제공하는 배달음식 및 배달서비스(이하 ‘서비스’라 합니다)를 취소/환불함에 있어, 회사와 회원간 권리, 의무 및 회원의 이용절차 등에 관한 사항을 규정하는 것을 그 목적으로 합니다. <br>
    </div><br>

    <div class="outer">제2조</div>
    <div class="inner">
        ① 고객님의 주문에 따라 개별적으로 생산 또는 조리된 배달음식은 주문이 마감된 후 조리가 시작되므로 주문 마감 후 단순 변심에 의한 청약철회가 불가합니다.<br>
        ② 고객님과 수 차례 연락을 시도한 후 연락이 되지 않는 경우 배달음식이 변질되거나 부패될 우려로 식품위생법상 위반될 여지가 있어 별도로 보관하지 않으며, 재배달 또는 환불처리가 어려울 수 있습니다. <br>
        ③ 배달상품의 주문계약은 구매조건(상품의 내용 및 종류, 가격, 결제수단, 포인트/할인쿠폰 적용여부 등)에 동의하고 주문함으로써 성립합니다. 구매조건에 대한 동의는 고객님께서 과실없이 배달상품을 주문했다는 입증자료로 활용되며, 주문취소 또는 보상이 어려울 수 있으니, 사전에 면밀한 확인 부탁드립니다.<br>
        ④ 고객님은 다음 각호의 귀책사유로 조리된 음식을 수령하지 못하더라도 고객님은 대금지급의무 또는손해배상금을 부담합니다.<br>
            1. 배달주소지를 고객님의 과실로 잘못 등록하거나 작성한 경우 단, 배달주소 오류는 재배달 하지 않습니다.<br>
            2. 고객님과 수차례 연락을 시도하였으나 연락이 되지 않는 경우 단, 회사 정책에 따라 서비스 이용에 제한이 있을 수 있습니다. <br>
        ⑤ 만나서 결제 방식을 통해 고객님이 주문할 경우 업주 또는 배달원에게 대금지급을 하지 않을 경우 서비스 이용에 제한이 있을 수 있습니다.<br>
        ⑥ 포만감 앱 내에 동록하여 고객님이 주문한 조리된 음식 등 상품 이외에 다음의 각호와 같이 회사에서 허용(등록)하지 않은 상품 또는 용역행위를 요청한 경우 이앻ㅇ할 수 없는 주문상품으로 판단하여 강제 주문 취소가 진행 될 수 있습니다. <br>
            1. 담배 구매 요청 <br>
            2. 포만감 앱 내에 등록되지 않은 주류 구매 요청 <br>
            3. 기타 용역행위의 요청(팩스, 문구류 구매, 심부름 등) <br>
    </div><br>

</body>
</html>