<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>

    <button type="button" onclick="run()">pay</button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootpay.co.kr/js/bootpay-3.0.0.min.js" type="application/javascript"></script>

    <script>
        Date.prototype.format = function(f) {
            if (!this.valueOf()) return " ";

            var weekName = ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"];
            var d = this;

            return f.replace(/(yyyy|yy|MM|dd|E|hh|mm|ss|a\/p)/gi, function($1) {
                switch ($1) {
                    case "yyyy": return d.getFullYear();
                    case "yy": return (d.getFullYear() % 1000).zf(2);
                    case "MM": return (d.getMonth() + 1).zf(2);
                    case "dd": return d.getDate().zf(2);
                    case "E": return weekName[d.getDay()];
                    case "HH": return d.getHours().zf(2);
                    case "hh": return ((h = d.getHours() % 12) ? h : 12).zf(2);
                    case "mm": return d.getMinutes().zf(2);
                    case "ss": return d.getSeconds().zf(2);
                    case "a/p": return d.getHours() < 12 ? "오전" : "오후";
                    default: return $1;
                }
            });
        };

        String.prototype.string = function(len){var s = '', i = 0; while (i++ < len) { s += this; } return s;};
        String.prototype.zf = function(len){return "0".string(len - this.length) + this;};
        Number.prototype.zf = function(len){return this.toString().zf(len);};
    </script>

    <script>
        var preparedData;

        /**
         * PG 테스트 실행
         */
        function run() {
            /* 장바구니 인덱스 */
            var cartIdx = 6;
            /* 물품을 구매할 때 사용한 포인트 */
            var usingPoint = 0;
            /* 물품을 구매할 때 사용한 쿠폰의 코드 (사용 안 함 : null) */
            var usingCouponCode = null;
            /* (카드결제 : 1 / 가상계좌 : 2 / 핸드폰결제 : 3 / 카카오 페이 : 4) */
            var typePayment = 4;
            /* 핸드폰번호 */
            var phone = "010-6478-4899";

            prepare(cartIdx, usingPoint, usingCouponCode, typePayment, phone);
            pay();          // 카카오 페이 테스트 (카카오페이 결제 용)
            //payMobile();  // KG INICIS 테스트 (카드결제, 가상계좌, 핸드폰결제 용)
        }


        /**
         * PG 모듈 실행 전, 서버에 사전 정보 저장
         */
        function prepare(cartIdx, usingPoint, usingCouponCode, typePayment, phone) {
            /* SERVER WORK */
            $.ajax({
                url : 'https://localhost:9530/api/v1/payments/prepare',
                type : 'post',
                async : false,  // SYNC
                contentType: "application/json",
                dataType : 'json',
                data : JSON.stringify({
                    "cartIdx" : cartIdx,
                    "usingPoint" : usingPoint,
                    "usingCouponCode" : usingCouponCode,
                    "typePayment" : typePayment,
                    "phone" : phone
                }),
                success : function(data) {
                    preparedData = data;
                }
            });
        }

        /**
         * PG 결제 모듈 실행 (테스트) - 카카오 페이
         */
        function pay() {
            if(!preparedData.orderId || preparedData.orderId.length <= 0) {
                alert("결제실패 - 서버오류");
                return;
            }

            var prodName = '';
            if(preparedData.orderItems.length > 2) {
                prodName = preparedData.orderItems[0].product_name + ' 외 ' + (preparedData.orderItems.length-1) + '개';
            } else {
                prodName = preparedData.orderItems[0].product_name;
            }

            /* APP WORK */
            //실제 복사하여 사용시에는 모든 주석을 지운 후 사용하세요
            BootPay.request({
                price: preparedData.final_amount, //실제 결제되는 가격
                application_id: "5cc70f38396fa67747bd0683",
                name: prodName, //결제창에서 보여질 이름
                pg: 'kakao',
                method: 'easy', //결제수단, 입력하지 않으면 결제수단 선택부터 화면이 시작합니다.
                show_agree_window: 0, // 부트페이 정보 동의 창 보이기 여부
                // items: [
                //     {
                //         item_name: '나는 아이템', //상품명
                //         qty: 1, //수량
                //         unique: '123', //해당 상품을 구분짓는 primary key
                //         price: 1000, //상품 단가
                //         cat1: 'TOP', // 대표 상품의 카테고리 상, 50글자 이내
                //         cat2: '티셔츠', // 대표 상품의 카테고리 중, 50글자 이내
                //         cat3: '라운드 티', // 대표상품의 카테고리 하, 50글자 이내
                //     }
                // ],
                user_info: {
                    username: preparedData.customerName,
                    email: preparedData.customerId,
                    addr: preparedData.deliverySiteName,
                    phone: preparedData.phone
                },
                order_id: preparedData.orderId, //고유 주문번호로, 생성하신 값을 보내주셔야 합니다.
                //params: {test : "test33"},
                account_expire_at: new Date().format("yyyy-MM-dd"), // 가상계좌 입금기간 제한 ( yyyy-mm-dd 포멧으로 입력해주세요. 가상계좌만 적용됩니다. )
                extra: {
                    vbank_result: 1, // 가상계좌 사용시 사용, 가상계좌 결과창을 볼지(1), 말지(0), 미설정시 봄(1)
                    quota: '0,2,3' // 결제금액이 5만원 이상시 할부개월 허용범위를 설정할 수 있음, [0(일시불), 2개월, 3개월] 허용, 미설정시 12개월까지 허용
                }
            }).error(function (data) {
                // 결제 진행시 에러가 발생하면 수행됩니다.
                fail(data.status, data.message, preparedData.orderId);
            }).cancel(function (data) {
                // 결제가 취소되면 수행됩니다.
                fail(data.status, data.message, preparedData.orderId);
            }).ready(function (data) {
            }).confirm(function (data) {
                var enable = true; // 재고 수량 관리 로직 혹은 다른 처리
                if (enable) {
                    this.transactionConfirm(data); // 조건이 맞으면 승인 처리를 한다.
                } else {
                    this.removePaymentWindow(); // 조건이 맞지 않으면 결제 창을 닫고 결제를 승인하지 않는다.
                }
            }).close(function (data) {
            }).done(function (data) {
                success(data.receipt_id, preparedData.orderId);
            });
        }

        /**
         * 결제 성공
         */
        function success(receiptId, orderId) {
            $.ajax({
                url : 'https://localhost:9530/api/v1/payments/complete',
                type : 'post',
                contentType: "application/json",
                dataType : 'json',
                data : JSON.stringify({
                    "receiptId" : receiptId,
                    "orderId" : orderId
                }),
                success : function(data) {
                    console.log('success');
                    console.log(data);
                }
            });
        }

        /**
         * 결제 실패
         */
        function fail(status, message, orderId) {
            $.ajax({
                url : 'https://localhost:9530/api/v1/payments/fail',
                type : 'post',
                contentType: "application/json",
                dataType : 'json',
                data : JSON.stringify({
                    "status" : status,
                    "code" : 0,
                    "message" : message,
                    "orderId" : orderId
                }),
                success : function(data) {
                    console.log('success');
                    console.log(data);
                }
            });
        }
    </script>
</body>
</html>